@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    background: #FFFFFF;
    font-family: Roboto;
    color: #ffffff;
}

.container {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 250px 1fr;
    height: 100vh;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(1fr, 2);
    align-items: center;
    padding: 0px 24px;
    grid-column: 2;
}

.notifications {
    justify-self: right;
}

.header-buttons {
    justify-self: right;
}

.sidebar {
    display: grid;
    grid-template-rows: 226px 1fr; /* Remove the padding from height 250px */
    grid-row: 1 / 3;
    padding: 0px 24px;
    background-color: #2892D1;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
}

.svg-white {
    fill: white;
    height: 48px;
    width: 48px;
}

#logo {
    height: 96px;
    width: 96px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul,a {
    color: #ffffff;
}

.sidebar-nav a {
    color: white;
    text-decoration: none;
}

ul > li {
    display: flex;
    align-items: center;
    padding: 12px;
}

ul > li a {
    display: flex;
    align-items: center;
    gap: 24px;
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.sidebar-nav {
    padding: 24px 0px;
}

.sidebar-nav-options {
    padding-top: 128px;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #E2E8F0;
    padding: 24px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
    grid-column: 1;
    grid-row: 1 / 3;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #000000
}

.project-action {
    align-self: flex-end;
}